.column-holo_sku,.column-update_date_holo{
    width: 12ch;
}
.wooholo-warp{
    background: #f2f2f2;
    padding: 15px;
}
.wooholo-warp .nav-tab {
    border: 1px solid #f2f2f2;
    margin-right: 0.5em;
    background: #ffffff;
    color: #000000;
    border-radius: 4px;
}
.wooholo-warp .nav-tab-wrapper{
    border:0;
}
.wooholo-warp .nav-tab-active,.wooholo-warp .nav-tab-active:focus,.wooholo-warp .nav-tab-active:focus:active,.wooholo-warp .nav-tab-active:hover {
    border-bottom: 1px solid #f0f0f1;
    background: #8d8d8d !important;
    color: #fff !important;
}
.status-success{
    background: green;
    color: white;
    padding: 2px 10px;
}
.status-error{
    background: red;
    color: white;
    padding: 2px 10px;
}
.wooholo-warp .match .form-table th {
    padding: 5px;
    width: auto !important;
    border: 1px solid #d9d9d9;
    text-align: center;

}
.wooholo-warp .match .form-table td {
    position:relative;
    padding: 0 10px;
    border: 1px solid #d9d9d9;
    text-align: center;
}
.wooholo-warp .match .form-table td ul{
    text-align: right;
    list-style: inside;
}
.wooholo-warp .match{
    padding: 20px 0;
}
/* Animation delay so our shimmer looks staggered */
.shimmer *:nth-child(3n-2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}

.shimmer *:nth-child(3n-1) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

.shimmer,
.shimmer * {
    /*  Hide all text  */
    color: transparent;
}

.shimmer.match{
    -webkit-animation: placeHolderShimmer 1s infinite;
            animation: placeHolderShimmer 1s infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;

    /*  Shimmer gets inserted as an animated background so it can shape to most elements  */

    /* Base shimmer color */
    background-color: #f6f7f8;
    /* First and last color should be the same so that animation restart is seamless */
    background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.07) 8%,
            rgba(0, 0, 0, 0.13) 18%,
            rgba(0, 0, 0, 0.07) 33%
    );
    background-size: 200% 100px;
    background-attachment: fixed;

    border: none;

    /*  Hide all text  */
    color: transparent;

    /*  Hide img src  */
    -o-object-position: -99999px 99999px;
       object-position: -99999px 99999px;
}

/* Inline Shimmers so we get separated shimmer lines on text */
.shimmer p,
.shimmer span,
.shimmer time {
    display: inline;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: 100% 0
    }
    100% {
        background-position: -100% 0
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: 100% 0
    }
    100% {
        background-position: -100% 0
    }
}
#ploading{
    z-index: 1000;
    color: #2271b1;
    text-align: center;
    font-size: 25px;
}
.loader{
    display: none;
    text-align: center;
    padding: 10px;
    background: #ececec;
        margin: 10px 0;
}
.loader p{
    padding:10px;
}
.sk-circle {
    margin: 0;
    width: 40px;
    height: 40px;
    position: relative;
}
.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
    transform: rotate(30deg); }
.sk-circle .sk-circle3 {
    transform: rotate(60deg); }
.sk-circle .sk-circle4 {
    transform: rotate(90deg); }
.sk-circle .sk-circle5 {
    transform: rotate(120deg); }
.sk-circle .sk-circle6 {
    transform: rotate(150deg); }
.sk-circle .sk-circle7 {
    transform: rotate(180deg); }
.sk-circle .sk-circle8 {
    transform: rotate(210deg); }
.sk-circle .sk-circle9 {
    transform: rotate(240deg); }
.sk-circle .sk-circle10 {
    transform: rotate(270deg); }
.sk-circle .sk-circle11 {
    transform: rotate(300deg); }
.sk-circle .sk-circle12 {
    transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        transform: scale(0);
    } 40% {
          transform: scale(1);
      }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        transform: scale(0);
    } 40% {
          transform: scale(1);
      }
}
#result{
    background: #eaeaea;
    padding: 10px;
    margin: 10px 0;
    display:none;
}
#result a{
    background: #428bca;
    padding: 8px 20px;
    border-radius: 10px;
    color: white;
}
.box-export{
    display:none;
    margin-top:10px;
}
#tgexport{
    border: 1px dashed;
    padding: 3px;
    cursor:pointer;
}
.match{
    display:none;
}
.holoCodeUpdate{
    position: absolute;
    top: 7px;
    left: 10px;
}
.holo-banner img{
    width:100%;
}
.login{
    background: green;
    color: white;
    padding: 5px 15px;
    margin: 0;
    border-radius: 5px;
        cursor: pointer;
}
.alert-danger{
    margin:15px 10px;
}
.box-search{
    background: white;
    padding: 10px;
    margin: 10px;
    width: 95%;
}

